<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Superjoa10's website services!</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="website icon" href="{{ url_for('static', filename='docs/faces.png') }}">

        <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/websites.css') }}">

        </head>
    <body>
        {% include 'maintenance.html' %}
    </body>